/*==== GERAL ============================================ */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 353;
  --primary-color: hsl(var(--hue), 87%, 37%);
  --secondary-color: hsl(var(--hue), 46%, 32%);

  --paragraph: hsl(calc(var(--hue) - 10), 14%, 97%);
  --brand-beige: #fceda8;
  --brand-light: #323232;
  --brand-hover: hsl(var(--hue), 100%, 14%);

  --nav-height: 7.2rem;
  font-size: 62.5%;
}

*::selection {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*==== SCROLLBAR START ======================= */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--brand-light);
}

/* Works on Chrome, Edge, and Safari */

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-left: 0.2rem solid var(--secondary-color);
}

/*==== SCROLLBAR END ======================= */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  color: var(--paragraph);
  background-color: var(--brand-light);
}

ul {
  list-style: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  transition: letter-spacing 0.5s;
}

section header h4:hover:not(#first) {
  letter-spacing: 0.5rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--paragraph);
  margin-bottom: 6rem;
}

section header h1 {
  font-size: 3.4rem;
  color: var(--paragraph);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--paragraph);
}

iframe,
img {
  width: 100%;
}

iframe {
  border: none;
  padding-bottom: 3rem;
}

iframe.map {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;

  filter: grayscale(100%) invert(90%);
}

.button {
  background: var(--primary-color);
  border: none;
  border-radius: 2rem;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  margin-bottom: 6rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--brand-hover);
}

.button span {
  background-image: linear-gradient(
    to right,
    white 32%,
    var(--brand-beige) 30%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.wpp-logo path {
  fill: #ffffff;
}

/*==== NAVIGATION ============================================ */

nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav button.open-menu path[stroke*='#00856F'] {
  stroke: var(--primary-color);
}

nav .menu,
nav .close-menu {
  position: fixed;
}

nav {
  box-sizing: border-box;
  background: var(--paragraph);
}

nav button.open-menu path {
  stroke: white;
}

/*==== MENU-EXPANDED ============================================ */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 0.3s;
  transform: translateY(0);
}

.menu ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

.menu .button {
  background: var(--secondary-color);
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-block: 4.8rem 10rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  filter: brightness(1.2);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--secondary-color);
}

body.menu-expanded button path {
  stroke: var(--secondary-color);
}

/*==== HOME ============================================ */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: 95rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4::after {
  content: '';
  width: 5rem;
  height: 10px;
  display: inline-block;
  border-bottom: 2px solid var(--primary-color);
}

#home .button {
  margin-inline: auto;
}

#home header h1 span {
  color: var(--primary-color);
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

/* SEARCH BOX START */

#home .search-box {
  position: relative;
}

#home .search {
  position: absolute;
  top: 28%;
  left: 0;
  transform: translateY(-50%);
  padding: 2.5rem 0 2.5rem 3rem;
  height: 13rem;
  width: 130%;
  background-color: var(--paragraph);
  border-radius: 1.5rem;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#home .search .row {
  display: flex;
}

#home .search .row .option {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  line-height: 3rem;
  text-align: left;
}

#home .search .row .option:not(:last-child)::before {
  content: '';
  background-image: url(assets/expand-arrow.png);
  background-size: 15px;
  background-repeat: no-repeat;
  position: absolute;
  left: 7%;
  top: 63%;
  width: 20px;
  height: 20px;
}

#home .search .row .option:nth-child(2)::before,
#home .search .row .option:nth-child(3)::before {
  left: 27%;
}

#home .search .row span {
  color: var(--brand-light);
  font-size: 2rem;
  font-weight: 600;
}

#home .search .row .option select {
  position: relative;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #949494;
  margin-block: auto;
  margin-left: 3rem;
  width: 80%;
  background-color: transparent;
  appearance: none;
  text-align: left;
}

#home .search .row .option:nth-child(2) select,
#home .search .row .option:nth-child(3) select {
  margin-left: 11.5rem;
}

#home .search .row .option:last-child {
  padding: 0 0;
  box-sizing: border-box;
}

#home .search .row .option input[type='submit'] {
  border: none;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--paragraph);
  margin: auto;
  width: 70%;
  height: 8rem;
  text-transform: uppercase;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

#home .search .row .option input[type='submit']:hover {
  background-color: var(--secondary-color);
}

/* SEARCH BOX END */

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 0.6rem;
}

#home .col-b {
  max-width: 60rem;
  position: relative;
}

#home .col-b .glider {
  overflow: hidden;
}

#home .col-b::before {
  content: '';
  width: 12rem;
  height: 12rem;
  display: inline-block;
  position: absolute;
  left: -2rem;
  top: -2rem;
  border-left: 3px solid var(--primary-color);
  border-top: 3px solid var(--secondary-color);
}

#home .col-b::after {
  content: '';
  width: 12rem;
  height: 12rem;
  display: inline-block;
  position: absolute;
  right: -2rem;
  bottom: 5.5rem;
  border-right: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
}

/*==== PROPERTIES ============================================ */

.properties_container{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.properties_img{
  width: 34rem;
  height: 30rem;
  border-radius: 1rem;
  transition: .3s;
}

/*==== MODAL WINDOW ============================================ */

#modalWindow{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  overflow: auto;
}

#modalImg{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 40rem;
}

#btnClose{
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
}


/*==== .RENTED START ============================================ */

.properties_img.rented{
  filter: grayscale(100%);
}

article{
  position: relative;
}

article.rented::before{
  content: 'Alugado';
  width: 34rem;
  height: 3rem;
  background-color: var(--primary-color);
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px 1px 6px 0px inset;
}

/*==== .RENTED END ============================================ */

#properties .properties_img:hover{
  opacity: 0.5;
  cursor: pointer;
}

#properties article{
  margin-bottom: 5rem;
}

#properties .properties_detail{
  margin-top: 1.2rem;
  width: 100%;
  height: 7rem;
  background-color: var(--primary-color);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#properties .properties_detail ul{
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#properties .properties_detail ul li{
  display: flex;
  
}


/*==== SERVICES ============================================ */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30rem;
  gap: 0 1.5rem;
  text-align: left;
}

#services .box-card {
  position: relative;
  border: 2px solid var(--paragraph);
  cursor: pointer;
}

#services .box-card::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--brand-light);
  opacity: 1;
  transition: .4s
}

#services .box-card:hover::before{
  width: 12rem;
  top: -1%;
  opacity: 1;
}

#services .card {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  transition: .3s !important;
}

#services .box-card:hover {
  border-color: var(--primary-color);
}

#services .box-card:hover .card {
  margin-top: -13rem;
  color: var(--primary-color);
}

#services .card span {
  display: inline-block;
  width: 10rem;
  height: 8rem;
  line-height: 8rem;
  font-size: 6rem;
}

#services .card span svg{
  width: 7rem;
  height: 8rem;
}

#services .card span svg path,
#services .card span svg polygon{
  fill: var(--paragraph);
  stroke: var(--paragraph);
  transition: .3s;
}

#services .box-card:hover .card span svg path,
#services .box-card:hover .card span svg polygon{
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

#services .box-card .card span svg line{
  stroke: var(--brand-light);
}

#services .card h3 {
  margin-top: 3rem;
  font-size: 2.5rem;
}

#services .box-card p {
  width: 80%;
  font-size: 1.8rem;
  text-align: justify;
  word-break: break-all;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align-last: center;
  margin-top: 10rem;
  opacity: 0;
  visibility: hidden;
}

#services .box-card:hover p {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  transition: .4s;
  transition-delay: .2s;
}

/*==== ABOUT ============================================ */

#about {
  text-align: left;
  background-color: var(--brand-light);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-block: 2.4rem 6rem;
}

#about img {
  border-radius: 3rem;
}

/*==== CONTACT ============================================ */

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact ul li svg path {
  stroke: var(--primary-color);
}

#contact ul li svg.phone path {
  stroke: none;
  fill: var(--primary-color);
}

#contact ul li a,
#contact ul li {
  text-decoration: none;
  color: var(--paragraph);
  transition: background-color 0.4s;
  padding-inline: 1rem;
  border-radius: 2rem;
}

#contact ul li:hover a {
  background-color: var(--primary-color);
}

/*==== FOOTER ============================================ */

footer {
  background-color: var(--primary-color);
  padding-block: 6rem;
  text-align: left;
  color: var(--secondary-color);
}

footer .logo img {
  display: inline-block;
  margin-bottom: 2.4rem;
  scale: 1.1;
  filter: grayscale(100%)
}

footer p {
  color: var(--paragraph);
  line-height: 2;
  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/*==== WHATSAPP BUTTON ======================= */

#wppButton {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}

#wppButton svg {
  padding: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: 0.2s;
}

#wppButton svg:hover {
  background-color: var(--brand-hover);
}

#wppButton svg path {
  fill: white;
}

/*==== BACK TO TOP ============================================ */

#backToTopButton {
  position: fixed;
  bottom: 8.5rem;
  right: 3rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(120%);
  transition: 0.2s;
}

#backToTopButton:hover circle {
  fill: var(--brand-hover);
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#backToTopButton circle {
  fill: var(--primary-color);
  transition: fill 0.3s;
}

/*==== RESPONSIVE ============================================ */

@media (min-width: 1024px) {
  /*==== GENERAL ======================= */

  body {
    overflow-x: hidden;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
    padding-inline: 2.4rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  .col-c {
    grid-area: C;
  }

  .col-d {
    grid-area: D;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*==== NAVIGATION ======================= */

  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    color: initial;
    background-color: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .logo img {
    transform: translateY(5%);

  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    line-height: 2.1rem;
    color: var(--primary-color);
    opacity: 0.9;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--brand-light);
  }

  nav#navigation .menu ul li a {
    opacity: 0.9;
  }

  nav#navigation .menu a.button {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  nav#navigation .menu a.button:hover {
    border-color: var(--secondary-color);
    color: var(--brand-light);
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 0.3rem;
    background-color: var(--primary-color);
    position: relative;
    bottom: -1.95rem;
    left: -0.5rem;
    display: block;
    transition: width 0.2s;
  }

  nav#navigation .menu li a::after {
    background-color: var(--primary-color);
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    width: 100%;
    padding-inline: 0.8rem;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
  }

  nav#navigation .menu a.button.active,
  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    color: var(--brand-light);
    filter: brightness(1.3);
    border: none;
  }

  nav#navigation .social-links {
    margin-bottom: -.2rem;
    display: flex;
  }

  nav#navigation ul.social-links li svg path {
    stroke: var(--primary-color);
  }

  nav#navigation ul.social-links li:nth-child(2) svg path{
    stroke: none;
    fill: var(--primary-color);
  }

  section {
    padding-block: 16rem;
  }

  /*==== HOME ======================= */

  #home {
    padding-top: 15rem;
  }

  #home::before {
    height: min(68rem);
  }

  .search-box {
    grid-area: X;
  }

  #home .wrapper {
    width: min(130rem, 100%);
    grid-template-columns: 60.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'A B'
      'X B';
  }

  #home .col-a {
    margin-top: 5rem;
    text-align: left;
    align-self: top;
  }

  #home h1 {
    font-size: 2.8vw;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home img {
    width: 60rem;
    height: 70rem;
    display: block;
    margin-inline: auto;
    object-position: initial;
  }

  #home .button {
    margin: 0;
  }

  /*==== SERVICES ======================= */

  /* section#services {
    padding-top: 10rem;
    overflow-x: hidden;
  }

  #services h2 {
    width: 53rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 5rem;
  }

  #services .card {
    width: 50%;
    flex-grow: 1;
  } */

  /*==== ABOUT ======================= */

  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    margin-bottom: 0;
  }

  /*==== CONTACT ======================= */

  section#contact {
    padding-block: 7rem;
  }

  #contact .wrapper {
    width: 100%;
    height: 91vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    padding: 0;
  }

  #contact .col-a {
    margin: auto;
  }

  #contact h2 {
    width: 40.4rem;
  }

  /*==== FOOTER ======================= */

  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: left;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }
}
